.mat-mdc-card  {
  margin: 2rem;
  height: 80vh;
  border-radius: 10px;
  .mat-mdc-card-content {
    padding-top: 5em;
  }
}

img {
  border-radius: 50%;
}

fa-icon {
  font-size: 1.5rem;
  margin: 1rem;
  cursor: pointer;
}

@media screen and (max-width: 1000px) {
  img {
    max-height: 30vh;
  }
}