$dark-purple: #6c55e0;

.mat-mdc-card {
  margin: 2rem;
  // height: 80vh;
  border-radius: 10px;
}

img {
  border-radius: 50%;
}

fa-icon {
  font-size: 1.5rem;
  margin: 1rem;
  cursor: pointer;
}

.mat-mdc-raised-button {
  margin: 1em 2em;
  background-color: $dark-purple !important;
  color: whitesmoke !important;
  padding: 1em 0;
}

@media screen and (max-width: 1000px) {
  img {
    max-height: 30vh;
  }
}

@media screen and (min-width: 1000px) {
  .text {
    padding: 8em 0 0 4em;
  }
  .mat-mdc-card-content {
    padding-top: 5em;
  }
  .mat-mdc-raised-button {
    margin-left: 5em;
    height: 4em;
    width: 10em;
  }
  img {
    margin-top: 5em;
  }
}