<div class="container">
  <div class="row">
    <h2 class="display-4 text-center">Education</h2>
    <div class="col-lg-4 col-md-6 col-12" *ngFor="let education of educations">
      <div class="card">
        <h5 class="card-header">{{education.name}}</h5>
        <div class="card-body">
          <h5 class="card-title">{{education.department}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{education.type}}</h6>
          <p class="card-text">Place: {{education.place}}</p>
          <p class="card-text">Period: {{education.from}} - {{education.to}}</p>
        </div>
      </div>
    </div>
</div>
</div>