<div class="container my-5">
  <h2 class="display-4 text-center mtop-6-mbottom-1">Skills</h2>
  <div class="row">
    <div class="col-lg-6 col-md-6 col-12">
      <mat-accordion multi>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-icon>data_object</mat-icon>&nbsp;
            Frontend developer
          </mat-expansion-panel-header>        
          <ng-template matExpansionPanelContent>
            <div class="d-flex flex-column">
              <div class="d-flex justify-content-between">
                <p>HTML</p>
                <p>90%</p>
              </div>
              <mat-progress-bar mode="determinate" value="90"></mat-progress-bar>
              <div class="d-flex justify-content-between">
                <p>SCSS</p>
                <p>80%</p>
              </div>
              <mat-progress-bar mode="determinate" value="80"></mat-progress-bar>
              <div class="d-flex justify-content-between">
                <p>JavaScript</p>
                <p>60%</p>
              </div>
              <mat-progress-bar mode="determinate" value="60"></mat-progress-bar>
              <div class="d-flex justify-content-between">
                <p>Angular</p>
                <p>70%</p>
              </div>
              <mat-progress-bar mode="determinate" value="70"></mat-progress-bar>
              <div class="d-flex justify-content-between">
                <p>Bootstrap</p>
                <p>80%</p>
              </div>
              <mat-progress-bar mode="determinate" value="80"></mat-progress-bar>
            </div>
          </ng-template>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <div class="col-lg-6 col-md-6 col-12">
      <mat-accordion multi>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-icon>display_settings</mat-icon>&nbsp;
            Backend developer
          </mat-expansion-panel-header>        
          <ng-template matExpansionPanelContent>
            <div class="d-flex flex-column">
              <div class="d-flex justify-content-between">
                <p>Java</p>
                <p>80%</p>
              </div>
              <mat-progress-bar mode="determinate" value="80"></mat-progress-bar>
              <div class="d-flex justify-content-between">
                <p>SQL</p>
                <p>80%</p>
              </div>
              <mat-progress-bar mode="determinate" value="80"></mat-progress-bar>
              <div class="d-flex justify-content-between">
                <p>Spring Boot</p>
                <p>70%</p>
              </div>
              <mat-progress-bar mode="determinate" value="70"></mat-progress-bar>
              <div class="d-flex justify-content-between">
                <p>Postman</p>
                <p>90%</p>
              </div>
              <mat-progress-bar mode="determinate" value="90"></mat-progress-bar>
            </div>
          </ng-template>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</div>