<!-- <section [ngClass]="{'dark': mode === modes.DARK, 'light': mode === modes.LIGHT}">
  <home [mode]="mode"></home>
</section>
<section [ngClass]="{'dark': mode === modes.DARK, 'light': mode === modes.LIGHT}">
  <education></education>
</section>
<section [ngClass]="{'dark': mode === modes.DARK, 'light': mode === modes.LIGHT}">
  <work></work>
</section>
<section [ngClass]="{'dark': mode === modes.DARK, 'light': mode === modes.LIGHT}">
  <projects></projects>
</section>
<section [ngClass]="{'dark': mode === modes.DARK, 'light': mode === modes.LIGHT}">
  <hobbies></hobbies>
</section> -->

<div class="row gradient-row">
  <div class="col">
    <home></home>
  </div>
</div>
<div class="row">
  <div class="col">
    <education></education>
  </div>
</div>
<div class="row">
  <div class="col">
    <work></work>
  </div>
</div>
<div class="row">
  <div class="col">
    <projects></projects>
  </div>
</div>
<div class="row">
  <div class="col">
    <hobbies></hobbies>
  </div>
</div>

<div class="mode d-flex justify-content-end" (click)="switchTheme()">
  <fa-icon [icon]="icon"></fa-icon>
</div>