$lighter-purple: #cabfdf;
$light-purple: #b4a4e4;
$dark-purple: #e4a4c7;

.toolbar-fixed {
  position: fixed;
  z-index: 997;
}

.gradient-row {
  background: linear-gradient($lighter-purple 0%, $light-purple 100%);
}

.bg-light-purple {
  background-color: $light-purple;
}

.mode {
  position: fixed;
  z-index: 998;
  top: 4%;
  right: 2%;
  :hover {
    cursor: pointer;
  }
}

.bg-purple {
  background-color: $dark-purple;
  color: whitesmoke;
}