$light-purple: #d2cbf6;
$dark-purple: #6c55e0;

.gradient-row {
  background: linear-gradient(whitesmoke 0%, $light-purple 100%);
}

.row {
  background-color: $light-purple;
}

.mode {
  position: fixed;
  z-index: 998;
  top: 4%;
  right: 2%;
  :hover {
    cursor: pointer;
  }
}

.bg-purple {
  background-color: $dark-purple;
  color: whitesmoke;
}